<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Balloons 🎈</title>
  {% include 'style.html' %}
</head>
<body>
  <div class="top">
    <h1>Balloons 🎈</h1>
    <p>Latest transaction: {{transactions.first[0]}} → {{transactions.first[1]}} | <a href="transactions">all transactions →</a></p>
    <p><a href="holders">see holders →</a></p>
  </div>
</body>
</html>
